a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background:gainsboro;
}
#nav{
    background:grey;
    position: relative;
    height: 50px;
    width: 100%
    
}
#nav img{
    height: 50px;
    float: left
}
#nav ul{
    float: right;
    position: absolute;
    top: 50%;
    right: 0; 
    transform: translateY(-50%);
}
#nav ul li{
    float: left;
    /* display: inline; */
    margin-right: 20px;
}
img{
   width: 200px;
   height: 200px
}
#first {
 
    margin: 20px;
    padding: 20px;
    background: white
}