a{
    text-decoration: none;
}
a:hover{
    text-decoration: none
    
}
a:visited{
    text-decoration: none
}
a:link{

}
a:active{

}

div:hover{
    background: white;
    cursor: pointer;
}

div {
background: black;
height: 100px;
width: 100px;

/* 鼠标变手状 */
/* cursor: pointer;   */
 /* 鼠标变十字 */
/* cursor: crosshair; */
 /* 鼠标变十字加箭头状 */
/* cursor: move;      */
 /* 鼠标变方向箭头状 */
/* cursor: e-resize;   */
/* 鼠标变文本框输入状 */
cursor: text;     
}

